<% @articles.each do |article| %>
  <div class="card mt-5">
    <div class="card-header">
      <%= article.title %>
    </div>
    <div class="card-body">
      <p class="card-text"><%= article.text  %></p>
      <%= link_to 'More Details', article_path(article), class: "" %>
    </div>
  </div>
<% end %>

<br>
<%= link_to 'New Article', new_article_path %>
